@using Orcamento.Enums
@model Orcamento.Models.ItemModel
@{
    ViewData["Title"] = "Edit";
}


<div class="py-5">
    <div class="container">

        <h1>@ViewBag.NomeItem </h1>
        <hr />
        <div class="form-horizontal">
            <form method="post" asp-action="Edit" asp-controller="Item" enctype="multipart/form-data">

                <input type="hidden" asp-for="idItem" class="form-control" />
                <input type="hidden" asp-for="idTipoItem" class="form-control" />

                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-1">
                            <label class="form-label mt-3">Nome:</label>
                            <input type="text" asp-for="Nome" class="form-control shadow-none" />
                            <span class="text-danger" asp-asp-validation-for="Nome"></span>
                        </div>
                    </div>
                </div>

                @if (Model.idTipoItem == 0)
                {

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-1">
                                <label class="form-label mt-3">Gramatura:</label>
                                <input type="text" asp-for="Gramatura" class="form-control shadow-none" />
                                <span class="text-danger" asp-asp-validation-for="Gramatura"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-1">
                                <label class="form-label mt-3">Formato:</label>
                                <input type="text" asp-for="Formato" class="form-control shadow-none" />
                                <span class="text-danger" asp-asp-validation-for="Formato"></span>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" asp-for="Gramatura" class="form-control" />
                    <input type="hidden" asp-for="Formato" class="form-control" />
                
                }


                <div class="row">
                    <div class="col-lg-2">
                        <div class="mb-1">

                            <label class="form-label mt-3">Unidade:</label>

                            @Html.DropDownList("idUnidade",
                                     Html.GetEnumSelectList<UnidadeEnum>(),
                                     "Selecione a unidade",
                                     new { @class = "form-control" }
                                     )
                        </div>


                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-2">

                        <div class="mb-1">
                            <label class="form-label mt-3">Valor:</label>
                            <input type="text" asp-for="Valor" class="form-control shadow-none" />
                            <span class="text-danger" asp-asp-validation-for="Email"></span>
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-2">

                        <div class="mb-1">
                            <label class="form-label mt-3">Status:</label>
                            @Html.DropDownList("idStatus",
                                     ViewBag.Status,
                                     "Selecione o Status",
                                     new { @class = "form-control" }
                                     )
                        </div>
                    </div>
                </div>




                <hr />
                <row>
                    <a asp-area="" asp-controller="Item" asp-action="@ViewBag.Index" class="btn btn-secondary">Cancelar</a>
                    &nbsp;
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </row>

            </form>

        </div>
    </div>
</div>

